.container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.identification {
    
}

#imageToProcess{
    display: flex;
    justify-content: center;
}

img {
    @media only screen and (max-width: 400px) {
        width:100%;
    }
}

ul {
    text-align: center;
    list-style-position: inside;
}

#surface {
    position: absolute;
    border: 1px solid green;
    z-index: 1;
}


